.header {
  text-align: center;
  font-size: 3rem;
  color: rgb(75, 68, 68);
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info {
  margin-top: 7rem;
}

.info-type {
  color: rgb(37, 37, 126);
  font-weight: 900;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: rgba(23, 110, 134, 0.8);
}

.img {
  border-radius: 8px;
  border: 10px solid #eee;
}
