.header {
  height: 40vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg");

  background-size: cover;
  background-position: center center;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
}

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 0.2rem;
  font-size: 2.9rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
  text-shadow: none;
}
