.header {
    color: rgb(75, 68, 68);
    text-align: center;
    font-size: 3rem;
}

.intro {
    font-size: 1.3rem;
}

.img {
    width: 80vw;
    height: 40vh;
    border-radius: 8px;
    border: 10px solid #ddd;
    text-align: center;
}